<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <!--
    <link rel="stylesheet" href="https://fonts.googleapis.co/css?family=Railway:400,800">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
    -->
    <link rel="stylesheet" href="/css/styles.css">
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <!--
<script src="/js/popper.min.js"></script>
<script src="/js/bootstrap.min.js"></script>-->
    <title>Missouri Southern State University</title>
</head>

<body> {% include "partials/header.njk" %} {% block content %} {% endblock %} {% include "partials/footer.njk" %}
    <!-- Optional JavaScript -->{% block js %}{% endblock %} </body>

</html>
