<div class="section-cta" id="cta">

    <a href="/map" class="cta-link" style="background-image: url('https://www.mssu.edu/images/admissions-main-graphic-may2017.jpg');">
            <span>Take a Virtual Tour</span>
        </a>
    <a href="/advancement/giving" class="cta-link" style="background-image: url('https://www.mssu.edu/images/honors-corner.jpg') ;">
            <span>Support Missouri Southern</span>
        </a>
</div>