<div class="section-cta" id="cta">

    <a href="/tour" class="cta-link" style="background-image: url('https://www.mssu.edu/images/admissions-main-graphic-may2017.jpg');">
            <span>Take a virtual tour</span>
        </a>
    <a href="/give" class="cta-link" style="background-image: url('https://www.mssu.edu/images/honors-corner.jpg') ;">
            <span>Support Missouri Southern</span>
        </a>
</div>
