<!-- Decisions section -->
{% from "macros/_decision.njk" import decision %}
<section class="section-decisions">
    <div class="decisions-title">
        <h1>Why we are right for you.</h1>
    </div>
    <div class="decision-cards">
        {{ decision('/map', 'See Campus', 'View Our Campus Map.', 'fas fa-map-marker-alt') }} {{ decision('/academics', 'Find Your Major', 'Explore Programs.', 'fas fa-graduation-cap') }} {{ decision('/student-affairs/financial-aid/', 'Simplified Billing', 'Learn About Financial Aid.', 'fas fa-dollar-sign') }}
    </div>
</section>
<!-- End Descisions section -->
