<!-- Decisions section -->
{% from "macros/_decision.njk" import decision %}
<section class="section-decisions">
    <div class="decisions-title">
        <h1>Why MSSU is right for you.</h1>
    </div>
    <div class="decision-cards">
        {{ decision('/advancement/admissions/campus-tours', 'See Campus for Yourself', 'Schedule a tour.', 'far fa-map') }} {{ decision('/academics/undergraduate.php', 'Find the perfect major.', 'Explore programs.', 'fas fa-graduation-cap') }} {{ decision('/student-affairs/financial-aid/', 'No fees make paying for college easy.', 'Go to Financial Aid.', 'fas fa-dollar-sign') }}
    </div>
</section>
<!-- End Descisions section -->
