<!-- Decisions section -->
{% from "macros/_decision.njk" import decision %}
<section class="section-decisions">
    <div class="decisions-title">
        <h1>Why MOSO is right for you.</h1>
    </div>
    <div class="decision-cards">
        {{ decision('/home', 'See Campus for Yourself', 'Schedule a tour.', 'far fa-map') }} {{ decision('/home', 'Find the perfect major.', 'Explore programs.', 'fas fa-graduation-cap') }} {{ decision('/home', 'No fees make paying for college easy.', 'Exstimate cost.', 'fas fa-dollar-sign') }}
    </div>
</section>
<!-- End Descisions section -->
