<!-- Events -->
<section class="events">
    <div class="events-header">
        <h2><span>MOSO</span>Events</h2> <a href="/calendar" aria-label="Missouri Southern Calendar" title="View the MSSU Calendar">See more...</a> </div>
    <div id="events_list"></div>
</section>
<script>
    $(function() {
        //Template for event
        function eventTemplate(data) {
            var template = '<div class="event-card">';
            template += '<div class="event-card-date-info">';
            template += '<span class="event-card-month">' + data.date.toLocaleDateString([], {
                month: 'long'
            }) + '</span>';
            template += '<span class="event-card-date">' + data.date.toLocaleDateString([], {
                day: 'numeric'
            }) + '</span>';
            template += '<span class="event-card-day">' + data.date.toLocaleDateString([], {
                weekday: 'long'
            }) + '</span>';
            template += '</div>';
            template += '<div class="event-card-info">';

            template += '<h3 class="event-card-title"><a href="' + data.link + '">' + data.title + '</a></h3>';
            template += ' <span class="event-card-time">"' + data.date.toLocaleTimeString([], {
                hour: '2-digit',
                minute: '2-digit'
            }) + '</span>';
            template += '<a class="event-card-link" href=""' + data.link + '">More info <i class="fas fa-info-circle"></i></a>';
            template += '</div>';
            template += '</div>';
            return template;
        }
        
        $.get('https://www.mssu.edu/calendar/rss/?sID=3', function(data) {
            //var $eventsXML = $($.parseXML(data.documentElement.innerHTML)).slice(0, 3);
            var $eventsXML = $(data);
            let events = [];
            
            $eventsXML.find("item").each(function(){
                let $this= $(this);
                let event = {
                    title: $this.find("title").text(),
                    date: new Date($this.find("pubDate").text()),
                    link: $this.find("link").text()
                }
                
                events.push(event);
            });
            
            for(let i=0; i<3; i++){
                var eventString = eventTemplate(events[i]);
                $("#events_list").append(eventString);
            }
            
        });
    });
</script>
<!-- End Events -->