<!-- Footer -->
{% from "macros/_link.njk" import link %} 
{% from "macros/_social_icon.njk" import social_icon %}
<footer>
    <div>
        <picture class="footer-logo">
            <source media="(min-width: 992px)" srcset="//www.mssu.edu/_resources/images/MSSU_ComboWordmark-Stacked-SIDELantern-GoldText.png">
            <source srcset="//www.mssu.edu/images/MSSU-Stacked_Wordmark_Lantern_Top_Gold_200.png">
            <img src="//www.mssu.edu/_resources/images/MSSU_ComboWordmark-Horizontal-SIDELantern-GoldText.png" class="">
        </picture>
        <div id="footer-common-and-cta">
            <nav class="footer-common-links">
                {{ link("News & Events", "/advancement/university-relations-marketing/press-and-media.php")}} 
                {{ link("Testimonials", "/reviews.php") }} 
                {{ link("University Police", "/student-affairs/university-police/")}} 
                {{ link("Accessibility Statement", "/student-affairs/disability-services/accessibility-statement.php")}} 
                {# {{ link("Sitemap", "/sitemap")}} #}
            </nav>
            <nav class="footer-cta">
                {{link("Request More Information", "/advancement/admissions/information-request.php")}} 
                {{link("Visit Campus", "/admissions/campus-tours/")}} 
                {{link("Apply", "/apply")}}
                {{link("Equal Employment Opportunity", "https://www.mssu.edu/business-affairs/human-resources/eeo-website-statement-9-2018rev.pdf")}}
            </nav>
        </div>
        <nav class="footer-contact-links">
            {{ link("Contact", "/directory.php")}} {{ link("Directions", "/map.php")}} {{ link("Map", "/map.php")}} {{ link("Employment", "/business-affairs/human-resources/applicant-portal.php")}}
        </nav>
        <div>
            <nav class="footer-social">
                {{social_icon("twitter", "https://twitter.com/mosolions")}} {{social_icon("facebook", "https://www.facebook.com/mssulions/")}} {{social_icon("youtube", "https://www.youtube.com/channel/UCHu5ezK20z_4iJZBvN7KEbw")}} {{social_icon("instagram", "https://www.instagram.com/mosolions/")}}
            </nav>
            <address class="footer-contact">
            {{ link("3950 E. Newman Road - Joplin MO 64801", "//goo.gl/maps/pMbCe2wyYe62")}}
            {{ link("866-818-6778", "tel:1-866-818-6778")}}
            {{link("info@mssu.edu","mailto:info@mssu.edu")}}
                <div><span id="newdel">&copy;</span> 2018 Missouri Southern State University</div>
        </address>
        </div>
    </div>
</footer>
<script type="text/javascript">
    window.onload = function() {
        if (document.getElementById('del') !== null) {
            $("#newdel").click(function(){
                    window.location.href=$("#del a").attr('href');
            });
    }
    }
</script>
<script type="application/ld+json">
    {
        "@context": "https://schema.org",
        "@type": "WebSite",
        "url": "https://www.mssu.edu/",
        "potentialAction": {
            "@type": "SearchAction",
            "target": "https://www.mssu.edu/search.php?q={search_term_string}",
            "query-input": "required name=search_term_string"
        }
    }
</script>
