<!-- Footer -->
<footer class="bg-green border-top">
    <div class="container pt-2">
        <div class="row">
            <div class="col-md-3 col-12 text-center">
                <picture>
                    <source media="(min-width: 575px)" srcset="https://www.mssu.edu/images/MSSU-Stacked_Wordmark_Lantern_Top_Gold_200.png">
                    <source srcset="https://www.mssu.edu/images/MSSU-Stacked_Wordmark_Lantern_Top_Gold_100.png"> <img src="https://www.mssu.edu/images/MSSU-Stacked_Wordmark_Lantern_Top_Gold_100.png" class="img-fluid"> </picture>
            </div>
            <div class="col">
                <nav>
                    <ul class="list-unstyled text-center text-md-left">
                        <li><a class="text-white" href="#">Library</a></li>
                        <li><a class="text-white" href="#">Bookstore</a></li>
                        <li><a class="text-white" href="#">News &amp; Events</a></li>
                        <li><a class="text-white" href="#">Testimonials</a></li>
                        <li><a class="text-white" href="#">Campus Security</a></li>
                        <li><a class="text-white" href="#">Accessibility Statement</a></li>
                        <li><a class="text-white" href="#">Sitemap</a></li>
                        <li><a class="text-white" href="#">Crossroads Magazine</a></li>
                    </ul>
                </nav>
            </div>


            <div class="col-md-5">
                <nav class="row text-center pb-4">
                    <a class="col-md-3 text-white" href="/contact">Contact</a>
                    <a class="col-md-3 text-white" href="/directions">Directions</a>
                    <a class="col-md-3 text-white" href="/map">Map</a>
                    <a class="col-md-3 text-white" href="/employment">Employment</a>
                </nav>
                <nav class="row">
                    <ul class="col list-unstyled text-center text-md-right">
                        <li><a class="gold" href="/moreinfo">Request More Information</a></li>
                        <li><a class="gold" href="/visit">Visit Campus</a></li>
                        <li><a class="gold" href="/apply">Apply</a></li>
                    </ul>
                </nav>
                <div class="row">
                    <div class="col text-center text-md-right">
                        <a href="/twitter" class="text-dark mr-1 no-underline">
                       <span class="fa-stack fa-1x">
                            <i class="fa fa-circle fa-stack-2x fa-inverse no-underline"></i>
                            <i class="fab fa-twitter fa-stack-1x"></i>
                        </span>
                    </a>
                        <a href="/insta" class="text-dark mr-1 no-underline">
                           <span class="fa-stack fa-1x">
                            <i class="fa fa-circle fa-stack-2x fa-inverse"></i>
                            <i class="fab fa-instagram fa-stack-1x"></i>
                        </span>
                    </a>
                        <a href="/youtube" class="text-dark mr-1 no-underline">
                        <span class="fa-stack fa-1x">
                            <i class="fa fa-circle fa-stack-2x fa-inverse"></i>
                            <i class="fab fa-youtube fa-stack-1x"></i>
                        </span>
                    </a>
                        <a href="/facebook" class="text-dark no-underline">
                        <span class="fa-stack fa-1x">
                            <i class="fa fa-circle fa-stack-2x fa-inverse"></i>
                            <i class="fab fa-facebook-f fa-stack-1x"></i>
                        </span>
                    </a>
                    </div>
                </div>
                <address class="row mt-2">
                    <small class="col">
                    <ul class="list-unstyled text-center text-md-right text-white">
                        <li class="text-white"><a class="text-white" href="https://goo.gl/maps/pMbCe2wyYe62">3950 E. Newman Road - Joplin MO 64801</a></li>
                        <li><a class="text-white" href="tel:1-866-818-6778">866-818-6778</a></li>
                        <li><a class="text-white" href="mailto:info@mssu.edu">info@mssu.edu</a></li>
                        <li>
                       &copy; 2018 Missouri Southern State University        
                            
                        </li>
                    </ul>
                    </small>                
                </address>
            </div>
        </div>
    </div>
</footer>
