<header>
    <label for="nav-toggle" class="nav-toggle-label"><i class="fas fa-bars fa-2x"></i></label>
    <h1 aria-label="Missouri Southern State University" class="header-logo">
        <a class="logo" href="/"></a>
    </h1>
    <input type="checkbox" id="nav-toggle" class="nav-toggle" />
    <nav class="nav-audience"> <a href="/students">Students</a> <a href="/students">Parents</a> <a href="/students">Facutly &amp; Staff</a> <a href="/students">Alumni</a> </nav>
    <nav class="nav-common"> <a href="/students">News</a> <a href="/students">Calendar</a> <a href="/students">Map</a> <a href="/students">Giving</a> <a href="/students" aria-label="Search MSSU"><i class="fas fa-search"></i></a> </nav>
    <nav class="nav-sales"> <a href="/students">Academics</a> <a href="/students">Admissions &amp; Aid</a> <a href="/students">Life at MOSO</a> <a href="/students">Athletics</a> <a href="/students">About MOSO</a> </nav> <img src="https://yourstolose.mssu.edu/wp-content/uploads/2017/08/MSSU_ComboWordmark-Horizontal-Lantern-WhiteText.png" class="top-lantern"> </header>