<! -- Header -->
<header>
    <img src="https://yourstolose.mssu.edu/wp-content/uploads/2017/08/MSSU_ComboWordmark-Horizontal-Lantern-WhiteText.png" class="top-lantern" />
    <label for="nav-toggle" class="nav-toggle-label"><i class="fas fa-bars fa-2x"></i></label>
    <h1 aria-label="Missouri Southern State University" class="header-logo">
        <a class="logo" href="/"></a>
    </h1>
    <input type="checkbox" id="nav-toggle" class="nav-toggle" />
    <nav class="nav-audience"> <a href="/students">Students</a> <a href="/students">Parents</a> <a href="/students">Facutly &amp; Staff</a> <a href="/students">Alumni</a> </nav>
    <nav class="nav-common">
        <a href="/news" title="View MSSU News">News</a>
        <a href="/calendar" title="View our university calendar">Calendar</a>
        <a href="/map" title="View our campus map">Map</a>
        <a href="/giving" title="Learn how to give back to MSSU">Giving</a>
        <a href="/search" title="Search MSSU website" class="search-link"><i class="fas fa-search"></i></a>
    </nav>
    <nav class="nav-sales"> 
        <div class="dropdown">
            <a href="#academics" class="dropdown-button">Academics</a>
            <div class="dropdown-content">
                <a href="google.com">Google</a>
                <a href="google.com">Google</a>
                <a href="google.com">Google</a>
            </div>
        </div>
        <a href="/students">Admissions &amp; Aid</a> 
        <a href="/students">Life at MOSO</a> 
        <a href="/students">Athletics</a> 
        <a href="/students">About MOSO</a> </nav>
</header>

<script>
    $('.dropdown').click(() => { $('.dropdown-content').toggle('red') });
</script>

<! -- Header END -->
