<picture>
    <source src="https://www.mssu.edu/images/MainSlider_Alumni.jpg">
    <img src="https://www.mssu.edu/images/MainSlider_Alumni.jpg" class="img-fluid">
</picture>
<div class="bg-dark">
    <div class="container">
        <div class="row text-center pt-2"> 
            <a href="/tour" class="col-4 text-light h2">
                <i class="fas fa-pencil-alt gold"></i>
                <span class="ml-2">Tour</span></a>
            <a href="/visit" class="col-4 text-light h2"><i class="fas fa-map-marker-alt gold"></i><span class="ml-2">Visit</span></a> 
            <a href="/programs" class="col-4 text-light h2"><i class="fas fa-graduation-cap gold"></i><span class="ml-2">Programs</span></a> </div>
    </div>
</div>