<!-- Hero Picture and CTA buttons - Tour Visit Programs -->
<div id="hero-picture-section">
   
    <div class="tv">
		  <div class="screen mute" id="tv"></div>
	</div>
   
    <picture>
        <source srcset="https://www.mssu.edu/_resources/images/MainSlider_GD2BL-Summer-2018.jpg">
        <img src="https://www.mssu.edu/_resources/images/MainSlider_GD2BL-Summer-2018.jpg">
    </picture>
    <div class="" id="hero-cta-section">
        <div class="hero-cta">
            <a href="/programs">
                <i class="fas fa-graduation-cap gold"></i>
                <span>Programs</span>
            </a>
        </div>
        <div class="hero-cta">
            <a href="/visit">
                <i class="fas fa-map-marker-alt gold"></i>
                <span >Visit</span>
            </a>
        </div>
        <div class="hero-cta">
            <a href="/apply">
                        <i class="fas fa-pencil-alt gold"></i>
                        <span>Apply</span>
                    </a>
        </div>
    </div>
</div>



<script>
    
    // Pulled from: https://codepen.io/ccrch/pen/GgPLVW
    
    var tag = document.createElement('script');
    tag.src = 'https://www.youtube.com/player_api';
    var firstScriptTag = document.getElementsByTagName('script')[0];
    firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);
    var tv,
        playerDefaults = {
            autoplay: 1,
            autohide: 0,
            modestbranding: 0,
            rel: 0,
            showinfo: 1,
            controls: 1,
            disablekb: 1,
            enablejsapi: 0,
            iv_load_policy: 3,
            loop: 1,
            playlist: 'jWxIMHbGt1o'
        };
    var vid = [{
            'videoId': 'jWxIMHbGt1o',
            'suggestedQuality': 'hd720'
        }],
        currVid = 0;


    function onYouTubePlayerAPIReady() {
        tv = new YT.Player('tv', {
            events: {
                'onReady': onPlayerReady,
                'onStateChange': onPlayerStateChange
            },
            playerVars: playerDefaults
        });
    }

    function onPlayerReady() {
        tv.loadVideoById(vid[currVid].videoId);
        tv.mute();
    }

    function onPlayerStateChange(e) {
        if($(window).width() < 993){
            tv.stopVideo();
        }else{
            
            if (e.data === 1) {
                $('#tv').addClass('active');
            } else if (e.data === 2) {
                //This will move to the next video in the list, but we are only using one so skip this
                /*$('#tv').removeClass('active');
                if (currVid === vid.length - 1) {
                    currVid = 0;
                } else {
                    currVid++;
                }*/
                tv.playVideo();
            }else{
                tv.playVideo();
            }
        }
        
        
    }

    function vidRescale() {

        var w = $(window).width() + 200,
            h = $(window).height() + 200;

        if (w / h > 16 / 9) {
            tv.setSize(w, w / 16 * 9);
            $('.tv .screen').css({
                'left': '0px'
            });
        } else {
            tv.setSize(h / 9 * 16, h);
            $('.tv .screen').css({
                'left': -($('.tv .screen').outerWidth() - w) / 2
            });
        }
        
        if($(window).width() < 993){
            tv.stopVideo();
            console.log("smalelr");
        }else{
            tv.playVideo();
        }
        
    }

    $(window).on('load resize', function() {
        vidRescale();
    });



   
</script>
<!-- END Hero Picture and CTA buttons - Tour Visit Programs -->
