<!-- Hero Picture and CTA buttons - Tour Visit Programs -->
<div id="hero-picture-section">
    <picture>
        <source srcset="https://www.mssu.edu/_resources/images/MainSlider_GD2BL-Summer-2018.jpg">
        <img src="https://www.mssu.edu/_resources/images/MainSlider_GD2BL-Summer-2018.jpg">
    </picture>
    <div class="" id="hero-cta-section">
        <div class="hero-cta">
            <a href="/programs">
                <i class="fas fa-graduation-cap gold"></i>
                <span>Programs</span>
            </a>
        </div>
        <div class="hero-cta">
            <a href="/visit">
                <i class="fas fa-map-marker-alt gold"></i>
                <span >Visit</span>
            </a>
        </div>
        <div class="hero-cta">
            <a href="/apply">
                        <i class="fas fa-pencil-alt gold"></i>
                        <span>Apply</span>
                    </a>
        </div>
    </div>
</div>
<!-- END Hero Picture and CTA buttons - Tour Visit Programs -->
