<div id="logoBar" class="bg-green p-1 pl-4 pr-4"> <picture>
    <source media="(min-width: 650px)" srcset="//www.mssu.edu/_resources/images/MSSU_ComboWordmark-Stacked-SIDELantern-GoldText.png">
    <source srcset="//www.mssu.edu/_resources/images/MSSU_ComboWordmark-Stacked-SIDELantern-GoldText.svg">
    <img src="//www.mssu.edu/_resources/images/MSSU_ComboWordmark-Stacked-SIDELantern-GoldText.png" class="img-fluid"> 
    </picture>
    </div>