 {% from "macros/_mvv_card.njk" import mvv_card %}
<!-- Mission section -->
<section class="mission-vision-values-section flexbox-responsive flex-justify">
    <!-- Mission -->
    {{ mvv_card('Mission', 'Missouri Southern State University will be a leader in offering relevant undergraduate and graduate programs that fulfill the educational needs of each student. To attain our vision, we will:
    <ul>
        <li>

            Be the University of Choice for Students, Faculty and Staff
        </li>
        <li>
            Create Transformative Experiences through Innovative Programs

        </li>
        <li>
            Promote our Culture of Excellence
        </li>
        <li>
            Engage in High-Quality Scholarly Activities
        </li>
        <li>
            Grow and Thrive
        </li>
    </ul>
', null, '#EFCB4E', '#333')}}
   
    <!-- Vision -->
    {{ mvv_card('Vision', 'Missouri Southern State University will educate and graduate knowledgeable, responsible, successful global citizens.', 'adsfs asdfkjasd f', "url('https://images.unsplash.com/photo-1537875683605-696d69fc6f70?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=e017cff7d1fa6c50560a8cdea958a81e&auto=format&fit=crop&w=1350&q=80')", '#eee')}}
    
    
    <!-- Values -->
    {{ mvv_card('Values', 'We believe in:
    <ul>
    <li>Service</li>
<li>
Integrity
</li>
<li>
Respect
</li>
<li>
Transparency
</li>
<li>
Global Perspectives
</li>
<li>
Community
</li>
<li>
Responsibility and Accountability
</li>
<li>
Diversity and Inclusion
</li>
<li>
Broad-based Learning
</li>
 </ul>', 'adsfs asdfkjasd f', 'white', '#333')}}
</section>
<!-- End Mission Section -->