<!-- Mission section -->
<div class="bg-dark-grey pt-3">
    <div class="container">
        <div class="row">
            <div class="mission-card col-md-3">
                <h3 class="gold">Mission</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis porttitor elit bibendum, tincidunt leo ut, imperdiet urna. Sed hendrerit bibendum metus vitae ultricies. Nullam gravida quam et lorem consequat suscipit. Proin purus sem, consectetur sed nibh ut, convallis tempor lorem.</p>
            </div>
            <div class="mission-card col-md-3">
                <h3>Mission</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis porttitor elit bibendum, tincidunt leo ut, imperdiet urna. Sed hendrerit bibendum metus vitae ultricies. Nullam gravida quam et lorem consequat suscipit. Proin purus sem, consectetur sed nibh ut, convallis tempor lorem.</p>
            </div>
            <div class="mission-card col-md-3">
                <h3>Mission</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis porttitor elit bibendum, tincidunt leo ut, imperdiet urna. Sed hendrerit bibendum metus vitae ultricies. Nullam gravida quam et lorem consequat suscipit. Proin purus sem, consectetur sed nibh ut, convallis tempor lorem.</p>
            </div>
            <div class="mission-card col-md-3">
                <h3 class="">Mission</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis porttitor elit bibendum, tincidunt leo ut, imperdiet urna. Sed hendrerit bibendum metus vitae ultricies. Nullam gravida quam et lorem consequat suscipit. Proin purus sem, consectetur sed nibh ut, convallis tempor lorem.</p>
            </div>
        </div>
    </div>
</div>
<!-- End Mission Section -->
