<!-- Mobile Nav -->
<a href="#main-menu-mobile" class="menu-toggle" role="button" id="main-menu-toggle" aria-expanded="false" aria-controls="main-menu" aria-label="Open main menu">
    <span class="sr-only">Open main menu</span>
    <span class="fa fa-bars" aria-hidden="true"></span>
  </a>

<h1 class="logo">hamburgers</h1>

<nav id="main-menu-mobile" class="main-menu" role="navigation" aria-expanded="false" aria-label="Main menu">
    <a href="#main-menu-toggle" class="menu-close" role="button" id="main-menu-close" aria-expanded="false" aria-controls="main-menu" aria-label="Close main menu">
          <span class="sr-only">Close main menu</span>
          <span class="fa fa-times" aria-hidden="true"></span>
        </a>
    <div class="mobile-nav-break"></div>
    <div class="mobile-nav-heading">Navigation</div>
    <ul>
        <li><a href="#">News</a></li>
        <li><a href="#">Calendar</a></li>
        <li><a href="#">Map</a></li>
        <li><a href="#">Giving</a></li>
    </ul>
    <div class="mobile-nav-break"></div>
    <div class="mobile-nav-heading">Search MSSU</div>
    <form id="main-menu-mobile-searchform">
        <input type="text" />
        <button type="submit">Search</button>
    </form>
    <div class="mobile-nav-break"></div>
    <div class="mobile-nav-heading">Audiences</div>
    <ul>
        <li><a href="#">Students</a></li>
        <li><a href="#">Faculty &amp; Staff</a></li>
        <li><a href="#">Alumni</a></li>
        <li><a href="#">Parents</a></li>
    </ul>
</nav>
<a href="#main-menu-toggle" class="backdrop" tabindex="-1" aria-hidden="true" hidden></a>
<script>


</script>
<!-- End Mobile Nav -->
