<!-- Mobile Nav -->
<nav class="navbar navbar-light d-md-none bg-green">
    <a class="navbar-brand"><img src="//www.mssu.edu/_resources/images/MSSU_ComboWordmark-Stacked-SIDELantern-GoldText.png" class="img-fluid"></a>
    <button class="navbar-toggler" type="button" id="togglerBtn" data-target="#mobileNavbar" data-toggle="collapse"><span class="navbar-toggler-icon"></span></button>
    <div class="collapse navbar-collapse bg-light" id="mobileNavbar">
        <ul class="nav navbar-nav navbar-right">
            <li class="nav-item border-right"><a class="nav-link" href="/students">Students</a> </li>
            <li class="nav-item border-right"><a class="nav-link" href="/faculty">Faculty &amp; Staff</a></li>
            <li class="nav-item border-right"><a class="nav-link" href="/alumni">Alumni</a></li>
            <li class="nav-item"><a class="nav-link" href="/parents">Parents</a></li>
            <li class="nav-item border-right"> <a href="/news" class="nav-link">News</a> </li>
            <li class="nav-item border-right"> <a href="/calendar" class="nav-link">Calendar</a> </li>
            <li class="nav-item border-right"> <a href="/map" class="nav-link">Map</a> </li>
            <li class="nav-item border-right"> <a href="/giving" class="nav-link">Giving</a> </li>
            <li class="nav-item"> <a href="/search.html" class="nav-link">Search Site</a> </li>
        </ul>
    </div>
</nav>
<!-- End Mobile Nav -->
