<!-- Mobile Nav -->
<button href="#main-menu-mobile" class="menu-toggle" role="button" id="main-menu-toggle" aria-expanded="false" aria-controls="main-menu" aria-label="Open main menu">
    <span class="sr-only">Open main menu</span>
    <span class="fa fa-bars" aria-hidden="true"></span>
  </button>
<nav id="main-menu-mobile" class="main-menu" role="navigation" aria-expanded="false" aria-label="Main menu">
    <!-- May need the close button but for now keep it out -->
    <!--<a href="#" class="menu-close" role="button" id="main-menu-close" aria-expanded="false" aria-controls="main-menu" aria-label="Close main menu">
          <span class="sr-only">Close main menu</span>
          <span class="fa fa-times" aria-hidden="true"></span>
        </a>-->
    <div class="mobile-nav-break"></div>
    <div class="mobile-nav-heading">Navigation</div>
    <ul>
        <li><a href="#">News</a></li>
        <li><a href="#">Calendar</a></li>
        <li><a href="#">Map</a></li>
        <li><a href="#">Giving</a></li>
    </ul>
    <div class="mobile-nav-break"></div>
    <div class="mobile-nav-heading">Search MSSU</div>
    <form id="main-menu-mobile-searchform" method="get" action="search.html">
        <input name="q" type="text" />
        <button type="submit">Search</button>
    </form>
    <div class="mobile-nav-break"></div>
    <div class="mobile-nav-heading">Audiences</div>
    <ul>
        <li><a href="#">Students</a></li>
        <li><a href="#">Faculty &amp; Staff</a></li>
        <li><a href="#">Alumni</a></li>
        <li><a href="#">Parents</a></li>
    </ul>
</nav>
<a class="backdrop" tabindex="-1" aria-hidden="true" hidden></a>
<script>
    //Toggle the aria-expanded value, CSS selectors will hide or show it based on this attribute
    $("#main-menu-toggle").click(function(e) {
        $("#main-menu-mobile").attr('aria-expanded', function(i, attr) {
            return attr == 'true' ? 'false' : 'true';
        });
        $(".backdrop").removeAttr('hidden');
    });

    // Set aria-expanded to false, CSS selector will hide this based on the attribute being false
    $("#main-menu-close, .backdrop").click(function() {
        $("#main-menu-mobile").attr('aria-expanded', false);
        $(".backdrop").attr('hidden', 'true');
    });

</script>
<!-- End Mobile Nav -->
