<div class="container">
    <nav class="top-nav row d-sm-none d-md-block">
        <span class="col">
            <a href="/students">Students</a> 
            <a href="/faculty">Faculty &amp; Staff</a>
            <a href="/alumni">Alumni</a>
            <a href="/parents">Parents</a>
        </span>
        <span class="col text-right">
            <a href="/news">News</a>
            <a href="/calendar">Calendar</a>
            <a href="/map">Map</a>
            <a href="/give">Give</a>
            <span class="dropdown">
				<a href="#" class="dropbtn">Search 
					<i class="fa fa-caret-down"></i>
				</a>
				<div class="dropdown-content">
					<span>content here again</span>
</div>
</span>
</span>
</nav>
</div>
