<!-- News Section -->
<section class="section-news">
    <div class="news-header">
        <h2><span>MOSO</span>News</h2>
    </div>
    <div class="news-stories">
        <div class="news-crossroads">
            <h3><a href="https://crossroads.mssu.edu" title="Read more Crossroads stories">Our People</a></h3>
            <ul class="news-crossroads-stories"> </ul>
        </div>
        <div class="news-moso_minute">
            <h3><a href="https://moso-minute.mssu.edu" title="Read more MOSO Minute stories">From Campus</a></h3>
            <ul class="news-moso_minute-stories"> </ul>
        </div>
    </div>
</section>
<script>
    //When document is ready dynmically load news content.  Eventaully shoud do this with promises so screen doesn't pop so much but to get it working for now....
    
    $(function() {
        getCrossroadsContent();
        getMosoMinuteContent();
    })

    function getCrossroadsContent() {
        $.get('//crossroads.mssu.edu/wp-json/wp/v2/posts?_embed', function(data) {
            for (var i = 1; i <= 2; i++) {
                var currentStory = data[i];
                $(".news-crossroads-stories").append(buildNewsCard(currentStory));
            }
        });
    }

    function getMosoMinuteContent() {
        $.get('//moso-minute.mssu.edu/wp-json/wp/v2/posts?_embed&categories=20&per_page=1', function(data) {
            var smallCards = [];
            
            smallCards.push(buildSmallNewsCard(data[0]));
            
            
             $.get('//moso-minute.mssu.edu/wp-json/wp/v2/posts?_embed&categories=14&per_page=2', function(data) {
                for (var i = 0; i < 2; i++) {
                    smallCards.push(buildSmallNewsCard(data[i]));
                }
                 
                smallCards.forEach( (card) =>{
                    $(".news-moso_minute-stories").append(card);
                });
            });

        });
        
        
       
    }

    function buildNewsCard(data) {
        var template = `<li>
                    <h4><a href="${data.link}">${data.title.rendered}</a></h4> 
                    <a href="${data.link}"><img src="${data._embedded['wp:featuredmedia'][0].source_url}"></a>
                    <p>${data.excerpt.rendered}</p>
                </li>`;
        return template;
    }

    function buildSmallNewsCard(data) {
        var template = `<li class="small-news-card">

                    <div>
                        <a href="${data.link}"><img src="${data._embedded['wp:featuredmedia'][0].source_url}"></a>
                    </div>
                    <div>
                        <h4><a href="${data.link}">${data.title.rendered}</a></h4> 
                        <p>${data.excerpt.rendered}</p>
                    </div>
                </li>`;
        return template;
    }

</script>
<!-- End News Section -->
