<!-- News Section -->
<section class="section-news">
    <div class="news-header">
        <h2><span>MOSO</span>News</h2> </div>
    <div class="news-stories">
        <div class="news-crossroads">
            <h3><a href="#" title="Read more Crossroads stories">Crossroads Stories</a></h3>
            <ul class="news-crossroads-stories"> </ul>
        </div>
        <div class="news-moso_minute">
            <h3><a href="#" title="Read more MOSO Minute stories">MOSO Minute</a></h3>
            <ul class="news-moso_minute-stories"> </ul>
        </div>
    </div>
</section>
<script>
    <!-- When document is ready dynmically load news content -->
    $(function () {
        getCrossroadsContent();
        getMosoMinuteContent();
    })

    function getCrossroadsContent() {
        $.get('//crossroads.mssu.edu/wp-json/wp/v2/posts?_embed', function (data) {
            for (var i = 1; i <= 2; i++) {
                var currentStory = data[i];
                $(".news-crossroads-stories").append(buildNewsCard(currentStory));
            }
        });
    }

    function getMosoMinuteContent() {
        $.get('//crossroads.mssu.edu/wp-json/wp/v2/posts?_embed', function (data) {
            for (var i = 1; i <= 3; i++) {
                var currentStory = data[i];
                $(".news-moso_minute-stories").append(buildSmallNewsCard(currentStory));
            }
        });
    }

    function buildNewsCard(data) {
        var template = `<li>
                    <h4><a href="${data.link}">${data.title.rendered}</a></h4> <img src="${data._embedded['wp:featuredmedia'][0].source_url}">
                    <p>${data.excerpt.rendered}</p>
                </li>`;
        return template;
    }

    function buildSmallNewsCard(data) {
        var template = `<li class="small-news-card">

                    <div>
                        <img src="${data._embedded['wp:featuredmedia'][0].source_url}">
                    </div>
                    <div>
                        <h4><a href="${data.link}">${data.title.rendered}</a></h4> 
                        <p>${data.excerpt.rendered}</p>
                    </div>
                </li>`;
        return template;
    }
</script>
<!-- End News Section -->