 <!-- News Section -->
    <section class="container mt-4 mb-4">
        <div class="row">
        <div class="col-md-6 border-right">
            <h4>News</h4>
            <picture> 
                <img src="http://moso-minute.mssu.edu/wp-content/uploads/2018/05/MSSU_MOSOMinute-WendellRedden-2018-400x250.jpg" class="img-fluid">
            </picture>
            <h6>WENDELL REDDEN TO BE INDUCTED INTO NEWSPAPER HALL OF FAME</h6>
                <p>When it came to athletics, Wendell Redden was “absolutely devoted” to Missouri Southern. “All of the teams, the athletes, the coaches and even a lot of the professors … he knew them and followed them his entire career,” says Susan Redden of her late husband, who began...</p>
        </div>
        <div class="col-md-6 border-left">
            <h6>Featured</h6>
            <ul>
                <li class="row">
                    <picture class="col-md-4"><img src="http://moso-minute.mssu.edu/wp-content/uploads/2017/05/deanslist.png" class="img-fluid"></picture>
                    <div class="col-md-8">
                        <h5>SPRING 2018 DEAN’S LIST</h5>
                        <p>The Dean’s List has been released for the Spring 2018 semester at Missouri Southern State University. The attached list recognizes full-time students from Missouri Southern who earned a grade point average of 3.75 or above on a 4.0 scale. The students qualified for...</p>
                    </div>
                </li>
            </ul>
        </div>
            </div>
    </section>
    <!-- End News Section -->