<div class="section-testimonial">
    <div class="section-header">
        <h2>What <span>MOSO</span> graduates are saying.</h2> <a href="/reviews.php" aria-label="Missouri Southern Calendar" title="View the MSSU Calendar"> See more...</a> </div>
    <div class="testimonial-card"> <img class="testimonial-image" src="https://farm2.staticflickr.com/1830/43465677882_1d066e1892_q_d.jpg">
        <div class="testimonial-card-info">
            <h3 class="testimonial-card-name">Chelsie Watson</h3> <span class="testimonial-card-title">Director of Watson Enterprises</span> </div>
        <p class="testimonial-card-copy">MSSU is great. I learned so much and can't thank you enough. The career I have now is a dreas and I could not have gotten here without Missouri Southern.</p>
    </div>
</div>
