<div class="container mt-4">
    <div class="row">
        <div class="col-md-6 bg-gold"><h1>Testimonials</h1><p>MSSU is great</p></div>
        <div class="col-md-6"><picture><img src="https://www.mssu.edu/images/education-center-1.jpg" class="img-fluid"></picture></div>
    </div>
</div>