{% extends "layout-home.njk" %} {% block content %}
<h2>Accreditations</h2>
<div class="pure-g">
    <div class="pure-u-1 pure-u-lg-1-2 ">
        <div class="card">
            <h3>University Wide Accreditations</h3>
            <p><a title="The Higher Learning Commission" href="https://www.hlcommission.org/" target="_blank">The Higher Learning Commission</a> (HLC)</p>
            <iframe style="display: block; margin-left: auto; margin-right: auto; border: 0px; padding: 0px; backgroundcolor: transparent; width: 150px; height: 166px; overflow: hidden;" src="https://cdn.yoshki.com/iframe/54732.html" width="300" height="150"><p>We are accredited through the Higher Learning Commission!</p></iframe></div>
    </div>
    <div class="pure-u-1 pure-u-lg-1-2 ">
        <div class="card">
            <h3>University Wide Memberships</h3>
            <p><a href="https://www.aascu.org/">American Association of State Colleges and Universities</a> (AASCU)</p>
            <p><a href="https://www.aacu.org/">Association of American Colleges &amp; Universities</a> (AAC&amp;U)</p>
            <p><a href="https://www.case.org/">Council for the Advancement and Support of Education</a> (CASE)</p>
        </div>
    </div>
    <div class="pure-u-1 pure-u-lg-1-2 ">
        <div class="card">
            <h3>School of Arts and Sciences Accreditations</h3>
            <p><a href="https://ishm.org/">Institute for Safety and Health Management</a> (ISHM)</p>
            <p><a href="https://www.ehacoffice.org/">National Environmental Health Science and Protection Accreditation Council</a> (EHAC)</p>
        </div>
    </div>
    <div class="pure-u-1 pure-u-lg-1-2 ">
        <div class="card">
            <h3>School of Arts and Sciences Memberships</h3>
            <p>None</p>
        </div>
    </div>
    <div class="pure-u-1 pure-u-lg-1-2 ">
        <div class="card">
            <h3>School of Business Accreditations</h3>
            <p><a href="https://www.abet.org/">Engineering Technology Accreditation Commission of ABET</a></p>
            <p><a href="https://www.acbsp.org/">Accreditation Council for Business Schools and Programs</a> (ACBSP)</p>
        </div>
    </div>
    <div class="pure-u-1 pure-u-lg-1-2 ">
        <div class="card">
            <h3>School of Business Memberships</h3>
            <p><a href="https://www.aacsb.edu/">AACSB International</a> (Association to Advance Collegiate Schools of Business)</p>
        </div>
    </div>
    <div class="pure-u-1 pure-u-lg-1-2 ">
        <div class="card">
            <h3>School of Education Accreditations</h3>
            <p><a href="https://www.caepnet.org/">Council for the Accreditation of Educator Preparation</a>&nbsp;(CAEP)</p>
            <p><a href="https://health.mo.gov/">Missouri Department of Health and Senior Services Bureau</a></p>
            <p><a href="https://dese.mo.gov/">Missouri Department of Elementary and Secondary Education</a> (MO DESE)</p>
        </div>
    </div>
    <div class="pure-u-1 pure-u-lg-1-2 ">
        <div class="card">
            <h3>School of Education Memberships</h3>
            <p><a href="https://www.aacte.org/">American Association of Colleges for Teacher Education</a> (AACTE)</p>
            <p><a href="https://macte.net/">Missouri Association of Colleges for Teacher Education</a> (MACTE)</p>
            <p><a href="https://www.southwestcenter.org/">Southwest Center for Educational Excellence</a> (SWC)</p>
            <p><a href="https://www.tecscu.org/">Teacher Education Council of State Colleges and Universities</a> (TECSCU)</p>
        </div>
    </div>
    <div class="pure-u-1 pure-u-lg-1-2 ">
        <div class="card">
            <h3>School of Health Sciences Accreditations</h3>
            <p><a href="https://www.acenursing.org/">Accreditation Commission for Education in Nursing</a> (ACEN)</p>
            <p><a href="https://www.coarc.com/">Commission on Accreditation for Respiratory Care</a> (CoARC)</p>
            <p><a href="https://www.caahep.org/">Commission on Accreditation of Allied Health Education Programs</a> (CAAHEP)</p>
            <p><a href="https://www.ada.org/en/coda">Commission on Dental Accreditation, American Dental Association</a> (CODA)</p>
            <p><a href="https://www.coaemsp.org/">Committee on Accreditation of Educational Programs for the Emergency Medical Services Professions</a> (CoAEMSP)</p>
            <p><a href="https://www.jrcert.org/">Joint Review Committee on Education in Radiologic Technology</a> (JRCERT)</p>
        </div>
    </div>
    <div class="pure-u-1 pure-u-lg-1-2 ">
        <div class="card">
            <h3><span>School of Health Sciences Memberships</span></h3>
            <p><a href="https://www.adea.org/">American Dental Educators Association</a> (ADEA)</p>
            <p><a href="https://www.nln.org/">National League for Nursing</a> (NLN)</p>
            <p>Southwest Missouri Nursing Education Consortium</p>
        </div>
    </div>
</div>
<h2>For More information, Contact Us:</h2>
<p><span>Hearnes Hall</span><br /><span>Room 208</span><br /><span>Phone: 417-625-9394</span><br /><span>Fax: 417-625-3121</span></p>
{% endblock %}
