{% extends "layout-interior.njk" %} {% block content %}


<div id="content" class="pure-g">
    <div class="pure-u-1">
        <ul class="breadcrumbs">
            <li>
                <a href="https://www.mssu.edu/">MSSU | Missouri Southern State University</a>
            </li>
            <li>
                <a href="https://www.mssu.edu/advancement/">Advancement</a>
            </li>
            <li>
                <a href="https://www.mssu.edu/advancement/admissions/">Admissions</a>
            </li>
        </ul>
    </div>
    <div class="pure-u-1">
        <h1>Admissions</h1>

    </div>
    <div id="accordion-container" class="pure-u-1 pure-u-md-5-24">
        <div class="call-to-action">
            <ul>
                <li><a href="https://www.mssu.edu/advancement/admissions/admissions-application.php">Apply Now</a></li>
                <li><a href="https://www.mssu.edu/advancement/admissions/index.php">Admissions</a></li>
                <li><a href="https://www.mssu.edu/advancement/admissions/information-request.php">Request Information</a></li>
            </ul>
        </div>
        <nav class="accordion">
            <h3><a class="pure-u-1" href="https://www.mssu.edu/advancement/admissions/index.php">Admissions</a></h3>
            <h3><a class="pure-u-1" href="https://www.mssu.edu/advancement/admissions/campus-tours/index.php">Visit</a></h3>
            <ul style="display: block;">
                <li><a title="Schedule a Campus Tour" href="https://www.mssu.edu/advancement/admissions/campus-tours/campus-tours.php" target="_blank">Campus&nbsp;Tours</a></li>
                <li><a href="https://www.mssu.edu/advancement/admissions/campus-tours/discovery-days.php" target="_blank">Discovery Days</a></li>
            </ul>
            <h3><a class="pure-u-1" href="https://www.mssu.edu/advancement/admissions/apply-general.php">Apply</a></h3>
            <ul style="display: none;">
                <li><a href="https://www.mssu.edu/advancement/admissions/freshman-application.php">Freshman</a></li>
                <li><a href="https://www.mssu.edu/advancement/admissions/transfer-application.php">Transfer</a></li>
                <li><a href="https://www.mssu.edu/advancement/admissions/graduate-application.php">Graduate</a></li>
                <li><a href="https://www.mssu.edu/advancement/admissions/international-application.php">International</a></li>
                <li><a href="https://www.mssu.edu/advancement/admissions/readmit-application.php">Readmit</a></li>
            </ul>
            <h3><a class="pure-u-1" href="https://www.mssu.edu/advancement/admissions/paying-for-college.php">Paying for College</a></h3>
            <ul style="display: none;">
                <li><a href="https://www.mssu.edu/advancement/admissions/paying-for-graduate-school.php">Paying for Graduate School</a></li>
                <li><a href="https://www.mssu.edu/advancement/admissions/scholarships.php">Scholarships</a></li>
            </ul>
            <h3><a class="pure-u-1" href="https://www.mssu.edu/advancement/admissions/contact-admissions.php">Contact Admissions</a></h3>
            <h3><a class="pure-u-1" href="https://www.mssu.edu/advancement/admissions/for-accepted-students.php">For Accepted Students</a></h3>
            <ul style="display: none;">
                <li><a href="https://www.mssu.edu/advancement/admissions/freshman-admissions/checklist.php">Freshman</a></li>
                <li><a href="https://www.mssu.edu/advancement/admissions/transfer-admissions/checklist.php">Transfer</a></li>
                <li><a href="https://www.mssu.edu/advancement/admissions/graduate-admissions/checklist.php">Graduate</a></li>
                <li><a href="https://www.mssu.edu/advancement/admissions/international-admissions/checklist.php">International</a></li>
                <li><a href="https://www.mssu.edu/advancement/admissions/readmit-admissions/checklist.php">Readmit</a></li>
            </ul>
        </nav>
    </div>
    <div id="landing-space" class="pure-u-1 pure-u-md-19-24">
        <div id="landing-image" class="pure-u-1">

            <div class="mobile-call-to-action cf">
                <div class="call-to-action">
                    <ul>
                        <li><a href="https://www.mssu.edu/advancement/admissions/admissions-application.php">Become a Lion</a></li>
                    </ul>
                </div>
            </div>

            <div class="pure-g">
                <article id="main-page-content" class="pure-u-1 pure-u-md-3-4">
                    <p>
                        <img class="pure-u-1 pure-u-md-1 pure-u-lg-1" src="https://www.mssu.edu/zz-omni-test/admissions-new-structure-test/_images/admissions-index.jpg" alt="students working on a project in the lions den">
                    </p>
                    <h2>
                        <br>
                        <span style="font-size: 100%;">Ready to become a Lion??</span>
                    </h2>
                    <p>
                        <span style="font-size: 100%;">
                        <strong>
                           <em>As a Lion, you'll never be far from your Pride.</em>
                        </strong>
                     </span>
                    </p>
                    <p>
                        <span style="font-size: 100%;">We create a personal, friendly environment without sacrificing the activities, events and campus-life of a big university.&nbsp;We offer focused class sizes, so you can get to know your professors one-on-one.</span>
                    </p>
                    <p>
                        <span style="font-size: 100%;">Whether you’re a transfer or international student, a non-traditional student, or joining us right out of high school, we’ve got a place here for you. </span>
                    </p>
                    <p>
                        <span style="font-size: 100%;">
                        <em>
                           <strong>More than anything, we’re all about helping you reach your goals both inside and outside the classroom.</strong>
                        </em>
                     </span>
                    </p>
                    <p>
                        <span style="font-size: 100%;">We offer the <a href="https://www.mssu.edu/advancement/admissions/paying-for-college.php">most affordable<strong>&nbsp;tuition rate</strong>
                        </a> in Missouri, and our flexible work-school-life balance allows us to welcome you to our Pride in a way that personally suits you.&nbsp;We're&nbsp;the kind of place where you’ll be called by name and greeted with a friendly smile.</span>
                    </p>
                    <p>
                        <span style="font-size: 100%;">
                        <strong>
                           <em>We’re more than just a University. We’re a Pride.</em>
                        </strong>
                     </span>
                    </p>
                    <h2>
                        <span style="font-size: 100%;">Want to&nbsp;join our Pride?&nbsp;</span>
                    </h2>
                    <h3>
                        <span style="font-size: 100%;">Here’s what you need to do:</span>
                    </h3>
                    <p style="padding-left: 30px;">
                        <span style="font-size: 100%;">1. Have a look at our 130+ <strong>
                           <a href="https://www.mssu.edu/academics/index.php">academic programs</a>
                        </strong> to find out what best suits you.</span>
                    </p>
                    <p style="padding-left: 30px;">
                        <span style="font-size: 100%;">2.&nbsp;<a href="https://www.mssu.edu/advancement/admissions/campus-tours/index.php">Visit our campus</a>.&nbsp;</span>
                    </p>
                    <p style="padding-left: 30px;">
                        <span style="font-size: 100%;">3.<strong>&nbsp;</strong>Get in touch with our<strong> 
                           <strong>
                              <a href="https://www.mssu.edu/advancement/admissions/contact-admissions.php">admissions team</a>.</strong>
                        </strong>
                     </span>
                    </p>
                    <p style="padding-left: 30px;">
                        <span style="font-size: 100%;">4.<a href="https://www.mssu.edu/advancement/admissions/apply-general.php">&nbsp;Apply!</a>
                     </span>
                    </p>
                    <p style="padding-left: 30px;">
                        <span style="font-size: 100%;">5. Choose your classes and get enrolled!</span>
                    </p>
                    <p style="padding-left: 30px;">
                        <span style="font-size: 100%;">6. Complete this <strong>
                           <a href="https://www.mssu.edu/advancement/admissions/for-accepted-students.php">check-list of must-dos</a>
                        </strong> before you start classes.</span>
                    </p>
                    <p style="padding-left: 30px;">
                        <span style="font-size: 120%;">
                        <span style="font-size: 100%;">7. Get started on completing that degree.</span>
                        <br>
                        <br>
                        </span>
                    </p>
                    <div align="center">
                        <a class="button-new button-one pure-u-1 pure-u-md-1-3 pure-u-lg-1-6" href="https://www.mssu.edu/advancement/admissions/freshman-application.php">
                            <p> Freshman</p>
                            <p style="font-size: medium; text-align: left; line-height: 1em;"> If you are a first-time college student.</p>
                            <p style="font-size: .8em; line-height: 90px; text-align: right; font-weight: bolder;"> &gt; </p>
                        </a>
                        <a class="button-new button-two pure-u-1 pure-u-md-1-3 pure-u-lg-1-6" href="https://www.mssu.edu/advancement/admissions/transfer-application.php">
                            <p> Transfer</p>
                            <p style="font-size: medium; text-align: left; line-height: 1em;"> If you are coming here from another university.</p>
                            <p style="font-size: .8em; line-height: 60px; text-align: right; font-weight: bolder;"> &gt; </p>
                        </a>
                        <a class="button-new button-four pure-u-1 pure-u-md-1-3 pure-u-lg-1-6" href="https://www.mssu.edu/advancement/admissions/international-application.php">
                            <p style="text-align: center"> International</p>
                            <p style="font-size: medium; text-align: left; line-height: 1em;"> If you are a non-U.S. citizen or resident.</p>
                            <p style="font-size: .8em; line-height: 90px; text-align: right; font-weight: bolder;"> &gt; </p>
                        </a>
                        <a class="button-new button-three pure-u-1 pure-u-md-1-3 pure-u-lg-1-6" href="https://www.mssu.edu/advancement/admissions/graduate-application.php">
                            <p> Graduate</p>
                            <p style="font-size: medium; text-align: left; line-height: 1em;"> If you are coming here for post-graduate studies.</p>
                            <p style="font-size: .8em; line-height: 60px; text-align: right; font-weight: bolder;"> &gt; </p>
                        </a>
                        <a class="button-new button-five pure-u-1 pure-u-md-1-3 pure-u-lg-1-6" href="https://www.mssu.edu/advancement/admissions/readmit-application.php">
                            <p> Readmit</p>
                            <p style="font-size: medium; text-align: left; line-height: 1em;"> If you are coming back here after taking a break.</p>
                            <p style="font-size: .8em; line-height: 60px; text-align: right; font-weight: bolder;"> &gt; </p>
                        </a>
                    </div>

                </article>
                <div id="landing-column-container" class="pure-u-1 pure-u-md-1-4">
                    <aside id="landing-column">
                        <div class="landing-header">
                            <h2>Contact the Department</h2>
                        </div>
                        <div class="landing-body">
                            <h3 class="contact-name">Michael Sanders</h3>
                            <p class="contact-title">Dean of Admissions</p>
                            <p>
                                <i class="fa fa-envelope">&nbsp;</i>
                                <a href="mailto:admissions@mssu.edu">admissions@mssu.edu</a>
                            </p>
                            <p>
                                <i class="fa fa-phone">&nbsp;</i>
                                <a href="tel:+14176259378">417-625-9378</a>
                            </p>
                            <p>
                                <i class="fa fa-facebook">&nbsp;</i>
                                <a href="https://www.facebook.com/mssulions">Missouri Southern State University</a>
                            </p>

                        </div>
                    </aside>
                </div>
            </div>
        </div>
    </div>

</div>

        


    

{% endblock %}

{% block js %}

<script type="text/javascript">// <![CDATA[
window.onload = function(){ 
 if (document.getElementById('del') !== null) {
					var prevDEL = document.getElementById('del').innerHTML;
					document.getElementById('del').innerHTML = "";
					document.getElementById('newdel').innerHTML = prevDEL;
 }
	}
// ]]></script>
<script type="application/ld+json">// <![CDATA[
{
   "@context": "https://schema.org",
   "@type": "WebSite",
   "url": "https://www.mssu.edu/",
   "potentialAction": {
     "@type": "SearchAction",
     "target": "https://www.mssu.edu/search.php?q={search_term_string}",
     "query-input": "required name=search_term_string"
   }
}
// ]]></script>
      
      
      <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="/_resources/js/vendor/jquery-1.11.1.min.js"><\/script>')</script>
<script src="/_resources/js/vendor/modernizr-2.8.3.min.js"></script>
<script src="/_resources/js/vendor/resizr.js"></script>
<script src="/_resources/js/main.js"></script>
<script type="text/javascript">
	var _gaq = _gaq || [];
	_gaq.push(['_setAccount', 'UA-21757463-1']);
	_gaq.push(['_trackPageview']);
	(function() {
		var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
		ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'https://www') + '.google-analytics.com/ga.js';
		var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	})();
</script>
<script src="/_resources/js/calendar-ads.js"></script>

<script type="text/javascript" src="/_resources/js/ldp/jquery.datetimepicker.full.js"></script>
      
      
      <script src="/_resources/js/vendor/jquery.slimmenu.js"></script>
<script src="/_resources/js/templates.js" type="text/javascript"></script>      
      <script>
				var mainPageContent = $('#main-page-content');
				Resizr.onDesktop(
				function() {
				mainPageContent.before($('#accordion-container'));
				}
				);
				var _gaq = _gaq || [];
				_gaq.push(['_setAccount', 'UA-21757463-1']);
				_gaq.push(['_trackPageview']);
				(function() {
				var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
				ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'https://www') + '.google-analytics.com/ga.js';
				var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
				})();
				var content = $('#content');
				
				Resizr.onMobile(
				function() {
				$('#top-image').prependTo(content);
				}
				);
				Resizr.onTablet(
				function() {
				$('#top-image').prependTo(content);
				}
				);
				
				Resizr.onDesktop(
				function() {
				$('#landing-space').before($('#accordion-container'));
				$('#tag-wrapper').after($('#top-image'));
				}
				);
				
				</script>


{% endblock %}
