{% extends "layout-interior.njk" %} {% block content %}
<div id="content" class="pure-g">
         <div class="pure-u-1">
            <ul class="breadcrumbs">
               <li>
                  <a href="/">MSSU | Missouri Southern State University</a>
               </li>
               <li>
                  <a href="/zz-omni-test/">Test Section 1</a>
               </li>
            </ul>
         </div>
         <div class="pure-g pure-u-1">
            <div id="tag-wrapper" class="pure-u-1 pure-u-sm-3-5">
			            <h1>Internships in Art</h1>
               
            </div>
            
            <div class="mobile-call-to-action cf">
<div class="call-to-action">
<ul>
<li><a href="/advancement/admissions/admissions-application.php">Become a Lion</a></li>
</ul>
</div>
</div>
         </div>
         <div id="accordion-container" class="pure-u-1 pure-u-md-1-4 pure-u-lg-1-5">
            <div class="call-to-action"><ul>
<li><a href="/advancement/admissions/admissions-application.php">Apply Now</a></li>
<li><a href="/advancement/admissions/index.php">Admissions</a></li>
<li><a href="/advancement/admissions/information-request.php">Request Information</a></li>
</ul>
</div>
            <nav class="accordion"><h3>Test area</h3>
<ul>
<li>This is the test area</li>
<li>This is not Production!</li>
</ul>
</nav>
         </div>
         <article id="main-page-content" class="pure-u-1 pure-u-md-2-3">
			         <p>To better prepare students for the future, the Art Department offers the opportunity to develop internships with art institutions and businesses. We encourage advanced art majors, especially those in graphic design to undergo an internship as part of their college experience. This provides a means to gain practical real world work experience in art.</p>
            <p>An internship is usually an off-campus, apprentice like training arrangement to work with professionals in a field related to the student's interests. Good internships benefit both parties by providing valuable assistance to the professional person or organization and valuable on-the-job training for the student--who also earns academic credit.</p>
            <p>Recently our students have had internships at local newspapers, a Fortune 500 company, with professional studio artists, non-profit arts organizations, and one art major participated in what has been named by Inc. Magazine as one of the coolest internship programs in the country.</p>
            <p>It is the responsibility of the student to locate and arrange the internship, with guidance from the art internship coordinator. The student usually receives from one to three hours of academic credit for the semester-long internship. Credit depends on the number of actual working hours spent at the internship during the semester, from a minimum of 40 contact hours (about three hours a week for fourteen weeks) for one (1) credit hour. Students must register for the number of hours desired before the internship begins. All of the details are set forth in a contract, signed by the student, the field supervisor, and the department head.</p>
            <p>Students write bi-weekly reports of their activities during the internship and at the conclusion, produce a portfolio of his or her work as well as a final written report. After consultation with evaluations from the field supervisor a grade is assigned by the internship advisor.</p>
            <p>Most internships are unpaid but some do come with stipends and occasionally students even arrange to be paid an hourly wage for their internship work.</p>
            <p>
               <strong>Please note:</strong> some internships not allowed include performing routine office work. Professional training in a field related to art is the goal for an internship. Internships are meant to be an opportunity to do something different to facilitate acquiring new skills; therefore a student's regular job is ineligible as an internship.<br/>More information about engaging in an internship as well as potential places to pursue opportunities for internships is available in the Art Office.</p>
            <h2>Why should students work in an internship?</h2>
            <ul>
               <li>Internships can lead directly or indirectly to post-graduate employment.<br/>
                  <br/>
               </li>
               <li>To become exposed to equipment, materials and methods in a specific work environment.<br/>
                  <br/>
               </li>
               <li>To better develop interpersonal and communication skills in a professional situation.<br/>
                  <br/>
               </li>
               <li>To develop professional work habits and organizational skills.<br/>
                  <br/>
               </li>
               <li>To develop creativity through actual problem solving.<br/>
                  <br/>
               </li>
               <li>To increase design skills, through developing craft abilities and honing analytical and critical thinking abilities.<br/>
                  <br/>
               </li>
               <li>To produce a portfolio of work which is more individualistic, larger in quality and higher in quality because of the uniqueness of the experience.<br/>
                  <br/>
               </li>
               <li>To provide work experience and information which will assist the student in making future career choices.<br/>
                  <br/>
               </li>
               <li>To learn a specialized career interest when no course at MSSU offers the necessary training.</li>
            </ul>
            
         </article>
      </div>
{% endblock %}
