    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    <!-- Old template styles to keep them working.  Delete this when fully converted -->
     {% include "partials/oldsiteheadercontent.njk" %}
    
    <link rel="stylesheet" href="_resources/css/styles.css">
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <title>Missouri Southern State University</title>