<!DOCTYPE html>
<html lang="en">

<head>
    <?php include '_resources/includes/head-common_2018.inc'; ?>
</head>

<body> 
  <?php include '_resources/includes/header_2018.inc'; ?>
   	
	<!-- Content Starts Here -->
    

    {% include "partials/hero-picture.njk" %} 
    {# include "partials/mission_vision_values.njk" #} 
    {% include "partials/decisions.njk" %} 
    {% include "partials/news.njk" %} 
    {% include "partials/events.njk" %} 
    {% include "partials/cta-block.njk" %} 
    {% include "partials/testimonial.njk" %}  




	<!-- Content Ends Here -->
  
 <?php include '_resources/includes/footer_2018.inc'; ?>
	

 </body>

</html>
