{% extends "layout.njk" %} {% block content %}
{% include "partials/navbar.njk" %}
{% include "partials/mobile-navbar.njk" %}
{% include "partials/logo-bar.njk" %}
{% include "partials/lower-navbar.njk" %}
{% include "partials/hero-picture.njk" %}
{% include "partials/mission.njk" %}
{% include "partials/decisions.njk" %}
{% include "partials/news.njk" %}
{% include "partials/events.njk" %}
{% endblock %}