{% extends "layout-home.njk" %} {% block content %} {% include "partials/hero-picture.njk" %} {% include "partials/mission.njk" %} {% include "partials/decisions.njk" %} {# {% include "partials/news.njk" %} #} {% include "partials/events.njk" %} {# {% include "partials/cta-block.njk" %} {% include "partials/testimonial.njk" %} #} {% endblock %} {% block js %}
<script>


</script>
{% endblock %}
