{% macro dropdown(title, url, dropdowns) %}
<div class="dropdown">
    <div class="dropdown-title">
        <a class="dropdown-title-text" href="{{ url }}">{{ title | safe }}</a>
        <a class="dropdown-button"><i class="fa fa-angle-down nav-arrow"></i></a>
    </div>
    <div class="dropdown-content">
       <h1>{{ title | safe }}</h1>
        {% for dropdown in dropdowns %}
        <a href="{{ dropdown.url}}">{{ dropdown.title | safe }}</a>
        {% endfor %}
    </div>
</div>
{% endmacro %}