{% macro social_icon(name, url) %}
<a href="/{{url}}" class=""> <span class="fa-stack fa-1x">
                            <i class="fa fa-circle fa-stack-2x fa-inverse no-underline"></i>
                            <i class="fab fa-{{name}} fa-stack-1x"></i>
                        </span> </a> {% endmacro %}