{% extends "layout-interior.njk" %} {% block content %}




<div style="max-width: 960px; margin: auto">
    
    

<script>
  (function() {
    var cx = '014032116808286694933:ykszde6dmh0';
    var gcse = document.createElement('script');
    gcse.type = 'text/javascript';
    gcse.async = true;
    gcse.src = 'https://cse.google.com/cse.js?cx=' + cx;
    var s = document.getElementsByTagName('script')[0];
    s.parentNode.insertBefore(gcse, s);
  })();
</script>
<gcse:search></gcse:search>   
</div>



{% endblock %}
