{% extends "layout-interior.njk" %} {% block content %}
<!-- <div class="container">
     //TODO get google search results to display in page. this should be on our custom google search page settings 
    <gcse:searchresults-only></gcse:searchresults-only>
    <script>
        (function() {
            var cx = '014032116808286694933:ykszde6dmh0';
            var gcse = document.createElement('script');

            gcse.type = 'text/javascript';
            gcse.async = true;
            gcse.src = 'https://cse.google.com/cse.js?cx=' + cx;

            var s = document.getElementsByTagName('script')[0];
            s.parentNode.insertBefore(gcse, s);
        })();

    </script>
</div>-->




<form id="searchbox">
    <input type="text" name="q">
    <button type="submit">Search MSSU</button>
</form>
<script type="text/javascript">
(function() {
                        var cx = '014032116808286694933:ykszde6dmh0';
                        var gcse = document.createElement('script');
                        gcse.type = 'text/javascript';
                        gcse.async = true;
                        gcse.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') +
                            '//www.google.com/cse/cse.js?cx=' + cx;
                        var s = document.getElementsByTagName('script')[0];
                        s.parentNode.insertBefore(gcse, s);
                    })();
</script>
<gcse:searchresults-only></gcse:searchresults-only>



{% endblock %}
