/* Footer css */


//Hide the del (link to OU CMS) and make newdel look like a link
#del{
    display: none;
}
#newdel{
        cursor: pointer;
}

footer {
    margin-top: 4rem; //really just for testing
    padding: 1rem;
    background: $mssu-green;
    a {
        color: white;
        
        &:hover{
            color: $mssu-gold;
            text-decoration: none;
        }
    }
}

.footer-logo {
    img {
        display: block;
        margin: 0 auto;
        width: 100%;
        max-width: 200px;
        margin-bottom: 1rem;
    }
}

#footer-common-and-cta{
    display: flex;
    justify-content: center;
}

.footer-common-links,
.footer-cta {
    vertical-align: top;
    padding: 0 1rem;
    a {
        display: block;
    }
}

.footer-common-links {
    text-align: right;
}

.footer-contact-links {
    border-top: 1px solid white;
    padding-top: 2rem;
    text-align: center;
    margin: 1rem 0;
    a {
        margin: 0 1rem;
    }
}

.footer-social {
    text-align: center;
    margin-bottom: 1rem;
    a {
        margin: 0 .5rem;
        color: $mssu-green;
    }
}

.footer-contact {
    font-size: .7rem;
    text-align: center;
    color: white;
    a {
        display: block;
    }
}

@include lg {
    footer > div {
        margin: 0 auto;
        max-width: 960px;
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: space-around;
    }
    .footer-logo {}
    .footer-common-links,
    .footer-cta {
        width: auto;
        padding: 0 1rem;
        a {
            display: block;
        }
    }
    .footer-social {
        a {
            &:hover {
                text-decoration: none;
                color: $mssu-gold;
            }
        }
    }
    .footer-contact-links {
        border: 0;
        border-left: 1px solid $mssu-gold;
        padding-top: 2rem;
        text-align: right;
        margin: 0;
        padding: 0 1rem 0 2rem;
        vertical-align: top;
        a {
            display: block;
            margin: 0;
        }
    }
}
