#mobile-header {
    text-align: center;
    height: 5rem;
    background-color: $mssu-green;
}

#nav-toggle{
    position: absolute;
    left: 1rem;
    top: 1.5rem;
    cursor: pointer;
    color: white;
    
}

#navbox{
    display: flex;
    flex-direction: column;
    z-index: 5;
    background-color: white;
    width: 100%;
    position: absolute;
    left: -100%;
    transition: left .3s;
    
}

#navbox.open {
    left: 0%;
}

.nav-audience{
    order: 2;
}

.nav-common{
    order: 1;
}

.nav-sales{
    order: 0;
}




@include lg {

    header{
        height: 6rem;
        background-color: $mssu-green;
    }
    
    #navbox {
        height: 2.5rem;
        background-color: white;
        flex-direction: row;
        position: relative;
        justify-content: space-between;
        left: 0;
    }

    #mobile-header {
        display: none;
    }

    .nav-audience {
        order: 0;
    }

    .nav-common {
        order: 1;
    }

    .nav-sales {
        justify-content: center;
        position: absolute;
        top: 3.5rem;
        width: 100%;
    }


}