.top-lantern{
    //display: none;
    width: 130px;
}

#nav-toggle{
    cursor: pointer;
}

.navbox {
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 100%;
    z-index: 1;
    left: 0;
    transition: left .7s;
}

.closed {
    left: -100%;
}

.nav-audience{
    padding-top: 3rem;
    order: 2
}

.nav-common{
    order: 0;
}

.nav-sales{
    order: 1;
}

.nav-circular {
    a {
        border: 0;
        background-color: $mssu-green;
        border-radius: 2rem;
        margin: .5rem auto;
        text-align: center;
        color: white;
        width: 15rem;

        &:hover {
            color: black;
        }
    }
}

#navrow2{
    display: none;
}


@include lg {

    .top-lantern {
        display: none;
        width: 330px;
        position: absolute;
        z-index: 3;
        margin: 0 auto;
    }

    #nav-toggle {
        display: none;
    }
    
    #navrow2 {
        display: block;
        min-height: 5rem;
        background-color: $mssu-green;
    }

    .navbox {
        max-width: 900px;
        margin: 0 auto;
        flex-direction: row;
        position: relative;
        justify-content: space-between;
    }

    .closed {
        left: 0;
    }

    .nav-audience {
        order: 0;
        padding: 0;
    }

    .nav-common {
        order: 0;
    }

    .nav-sales {
        order: 0;
        position: absolute;
        margin: 0 auto;
        width: 500px;
        top: 5rem;
        
    }
    
    .nav-circular{
        background-color: white;
    }
}