#main-menu-toggle {
    color: $mssu-gold;
    background: none;
    border: 0;
    cursor: pointer;
    font-size: 1.5rem;
}

.backdrop {
    position: fixed;
    display: block;
    content: "";
    right: -100%;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 998;
    background: #000;
    background: rgba(0, 0, 0, 0);
    cursor: default;
    transition: background .5s;
}

#main-menu-mobile {
    z-index: 1000;
    display: block;
    position: fixed;
    top: 0;
    right: -300px;
    width: 300px;
    height: 100%;
    background: white;
    border-left: 2px solid rgba(0, 0, 0, .3);
    padding: 1em;
    transition: transform .5s;

    &[aria-expanded="true"] {
        transform: translateX(-300px);

        + .backdrop {
            background: rgba(0, 0, 0, .85);
            transform: translateX(-100%);
        }

    }

    .mobile-nav-heading {
        text-transform: uppercase;
        font-size: .8em;
        font-weight: 600;
        padding-bottom: 1em;
        margin-top: 1em;


    }

    ul {
        list-style: none;
        padding: 0;

        li {

            border-bottom: 1px solid rgba(0, 0, 0, .4);

            &:last-child {
                border-bottom: 0;
            }
        }
        a {
            display: block;
            color: $mssu-green;
            font-weight: 600;
            height: 100%;
            width: 100%;
            padding: .5rem 0 .5rem 1rem;

            &:hover {
                text-decoration: none;
            }
        }
    }
}

.mobile-nav-break {
    border-top: 1px solid $mssu-gold;
    border-bottom: 1px solid $mssu-gold;
    height: 3px;
}

.menu-close {
    color: $mssu-green;
    font-size: 2rem;
    &:hover {
        color: $mssu-green;

    }
}

#main-menu-mobile-searchform {
    margin-bottom: 1rem;

    input {
        background: $gray-300;
        border: 0;
        padding: .5rem;
        margin: 0;
    }

    button {
        background: $mssu-green;
        border: 0;
        height: 2.5rem;
        color: white;
        text-transform: uppercase;
        font-size: .8rem;
    }
}
