.mvv-card{
       //padding: 1rem;
        text-align: center; 
    h1{
        font-size: 3rem;
    }
    div{
        //font-weight: lighter;
        font-size: 1.2rem;
    }
    
    ul{
        font-weight: lighter;
            text-align: left;
        }
}

@include lg {
    .mvv-card{
        width: 25rem;
        border: 1px solid #333;
        margin: 2rem 0;
    }
}
