//Content filler for example
.content {
    height: 200vh;
    background-image: url(https://images.unsplash.com/photo-1454372182658-c712e4c5a1db?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=222a0154798d92d5950fd34abd985a18&auto=format&fit=crop&w=500&q=60);
    background-size: cover;
}


//Nav styles start here
header {
    background: $mssu-green;


    nav {
        display: none;
        text-align: center;
        float: left;
        width: 100%;
        transition: all .5s ease;

        ul {
            list-style: none;
        }
        background-color: white;



        a {
            color: black;
            text-decoration: none;
            text-transform: uppercase;

            &:hover {
                color: dimgrey;
            }
        }
    }
}

.header-logo {
    text-align: center;
    margin: 0;
}

.logo {
    display: inline-block; //background: url(https://www.mssu.edu/_resources/images/MSSU_ComboWordmark-Stacked-SIDELantern-GoldText.png) center center no-repeat;
    background: url(https://www.mssu.edu/_resources/images/MSSU_ComboWordmark-Horizontal-SIDELantern-GoldText.png) center center no-repeat;
    background-size: contain;
    width: 275px;
    height: 80px;

}

.top-lantern {
    display: none;
}


.nav-toggle {
    display: none;
}

.nav-toggle-label {
    color: white;
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    margin-left: 1em;
    height: 80px;
    display: flex;
    align-items: center;
}

.nav-toggle:checked ~ nav {
    display: block;
}





//Medium Screens
@include md {

    .logo {
        //background: url(https://www.mssu.edu/_resources/images/MSSU_ComboWordmark-Horizontal-SIDELantern-GoldText.png) center center no-repeat;
        //background-size: contain;
        //width: 200px;
    }
}

@include lg {
    header {
        display: flex;
        flex-wrap: wrap;
        background: $mssu-green;

        nav {
            float: none;
            position: relative;
            padding-top: .5rem;

            li {
                display: inline-block;
                padding: 0 .5rem;

                &:not(:last-child) {
                    border-right: 1px solid black;
                }
            }

        }
    }

    .header-logo {
        width: 25%;
        padding-left: 1em;
    }

    .logo {
        //background: url(https://www.mssu.edu/_resources/images/MSSU_ComboWordmark-Horizontal-SIDELantern-GoldText.png) center center no-repeat;
        background: url(https://www.mssu.edu/_resources/images/MSSU_ComboWordmark-Stacked-SIDELantern-GoldText.png) center center no-repeat;
        background-size: contain;
        width: 300px;
    }

    .top-lantern {
        display: block;
        position: absolute;
        width: 250px;
        left: 50%;
        margin-left: -125px;
        clip: rect(0px, 200px, 70px, 0px);


    }

    .nav-toggle-label {
        display: none;
    }



    .nav-audience,
    .nav-common {
        display: block;
        order: -1;
        width: 50%;
    }

    .nav-sales {
        display: flex;
        background: none;
        flex-direction: column;
        justify-content: center;
        width: 50%;

        li {
            &:not(:last-child) {
                border-right: 1px solid white;
            }
        }

        a {
            color: white;

            &:hover {
                color: white;
            }
        }
    }

}
