//Dropdown styling
.dropdown{
    display: flex;
    flex-direction: column;
}

.dropdown-title{
    display: flex;
}

.dropdown-title-text{
    flex-grow: 1;
    
}

/*

.dropdown-button{
    background: grey; 
    text-align: center;
    font-size: 2.5rem;
    padding: 0 1rem;
   
    &:hover{
        cursor: pointer;
    }
}
*/

.dropdown-content{
    display: none;
    
    h1{
        display: none;
    }
    
    a{
        font-size: 1rem;
    }
}

.expanded > .dropdown-content{
    background: white;
    display: flex;
    flex-direction: column;
}




//Large Screens
@include lg {
    
    .dropdown:hover > .dropdown-content{
        background: white;
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 2rem;
        z-index: 1;
        min-width: 5rem;
        padding: 1rem;
    }
    
    .dropdown-title{
        min-height: 2rem;
    }
    
    .dropdown-title-text{
        text-align: center;
    }
    
    .nav-with-dropdowns{
        display: flex;
    }
    
    .dropdown-button{
        display: none;
    }
    
    .dropdown-content{
        display: none;

        h1{
            display: block;
        }
}

    
}