.standard-navlist {
    display: flex;
    flex-direction: column;
    background: white;

    > a {
        padding: .5rem 1rem;
        font-size: 1.5rem;
        color: black;
        border-bottom: 1px solid black;
        text-transform: uppercase;
        min-height: 3rem;


        &:hover {
            background: $gray-300;
            text-decoration: none;
        }
    }


}

.nav-circular {
    a {
        border: 0;
        background-color: $mssu-green;
        border-radius: 2rem;
        margin: .5rem auto;
        text-align: center;
        color: white;
        width: 15rem;

        &:hover {
            color: black;
        }
    }
}

.dropdown {
    font-size: 1.5rem;
    color: black;
    text-transform: uppercase;

    &:hover {
        
        a{
            color: black;
        }
        
        background: $gray-300;
        text-decoration: none;
    }
}

.dropdown-title{
    align-items: stretch;
    border-bottom: 1px solid black;
}

.dropdown-title-text {
    padding-left: 1rem;
    font-size: 1.5rem;
    color: black;
    text-transform: uppercase;
    min-height: 3rem;


    &:hover {
        background: $gray-300;
        text-decoration: none;
    }
}

.dropdown-button {
    padding: 0 1rem;

    &:hover {
        background-color: $gray-700;
        cursor: pointer;
        i {
            color: $mssu-gold;
        }
    }
}

.dropdown-content {
    a {
        border-bottom: 1px solid black;
        padding: 1rem 0 1rem 2rem;
        color: black;
        background: $gray-200;

        &:hover {
            text-decoration: none;
            color: $mssu-green;
        }
    }
}

//Large Screens
@include lg {
    .standard-navlist {
        display: flex;
        flex-direction: row;
        background: none;

        > a {
            //padding: .5rem 1rem;
            font-size: 1rem;
            color: black;
            border-bottom: 0;
            text-transform: uppercase;
            min-height: 0;


            &:hover {
                background: none;
                text-decoration: inherit;
            }
            
            &:not(:last-child){
                border-right: 1px solid black;
                //padding-left: 1rem;
            }
        }
        

    }

    .nav-circular {
        a {
            border: 0;
            background-color: white;
            border-radius: 0;
            margin: 0;
            text-align: center;
            color: black;
            width: inherit;

            &:hover {
                color: black;
            }
        }
    }

    .dropdown {
        font-size: 1rem;
        color: black;
        text-transform: uppercase;
        

        &:hover {

            a {
                color: black;
            }

            background: $gray-300;
            text-decoration: none;
        }
    }

    .dropdown-title {
        border: 0;
    }

    .dropdown-title-text {
        padding-left: 1rem;
        font-size: 1rem;
        color: white;
        text-transform: uppercase;
        min-height: 0rem;


        &:hover {
            background: $gray-300;
            text-decoration: none;
        }
    }

    .dropdown-button {
        padding: 0 1rem;

        &:hover {
            background-color: $gray-700;
            cursor: pointer;
            i {
                color: $mssu-gold;
            }
        }
    }

    .dropdown-content {
        //position: absolute;
        a {
            border-bottom: 1px solid black;
            padding: 1rem 0 1rem 2rem;
            color: black;
            background: $gray-200;

            &:hover {
                text-decoration: none;
                color: $mssu-green;
            }
        }
    } 
}
