.standard-navlist {
    display: flex;
    flex-direction: column;

    > a,
    .dropdown-title-text,
    .dropdown-content > a {
        color: $gray-700;
        padding: 1rem 0 1rem 1rem;
        border-bottom: 1px solid black;
        font-size: 1.5rem;

        &:hover {
            background-color: $gray-300;
            text-decoration: none;
        }
    }

    .dropdown-content > a {
        font-size: 1rem;
        padding-left: 2rem;
    }
}

.dropdown {
    display: flex;
    flex-direction: column;
    position: relative;
    z-index: 10;
}

.dropdown-title {
    display: flex;
    justify-content: space-between;
}

.dropdown-title-text {
    flex-grow: 1;
    color: $gray-700;
}

.dropdown-button {
    padding: 0 1rem;
    border-bottom: 1px solid black;

    i {
        padding: 1rem;
    }

    &:hover {
        background-color: $gray-700;

        i {
            color: $mssu-gold;
        }
    }
}

.dropdown-content {
    display: none;
    flex-direction: column;

    > a {
        padding-left: 1rem;
    }

    h1 {
        display: none;
    }


}


.expanded > .dropdown-content {
    display: flex;
}


@include lg {
    
    
    .standard-navlist {
        flex-direction: row;

        > a,
        .dropdown-title-text {
            padding: 0 .5rem;
            border-bottom: 0;
            font-size: 1rem;
            display: flex;
            justify-content: center;
            flex-direction: column;
            text-align: center;


            &:hover {
                background-color: $gray-300;
            }

        }
    }

    .standard-navlist.white {
        .dropdown-title-text {
            color: white;
            
            &:hover{
                background-color: inherit;
                color: $mssu-gold;
            }
        }
    }

    .dropdown {

        margin-right: 3rem;

        &:hover {
            .dropdown-content {
                display: flex;
            }
        }
    }
    
    .dropdown-title a + .dropdown-content{
        display: flex;
    }

    .dropdown-button {
        display: none;
    }

    .expanded > .dropdown-content {
        display: none;
    }

    .dropdown-content {
        min-width: 20rem;
        position: absolute;
        top: 1.5rem;
        background-color: white;

        h1 {
            display: inherit;
        }


    }

}